In [1]:
import os
import pandas as pd

In [2]:
os.chdir('..')

In [7]:
df = pd.read_csv('data/processed/train.csv')

In [8]:
df.columns

Index(['Item_Weight', 'Item_Fat_Content', 'Item_Visibility', 'Item_Type',
       'Item_MRP', 'Outlet_Establishment_Year', 'Outlet_Size',
       'Outlet_Location_Type', 'Outlet_Type', 'Item_Outlet_Sales'],
      dtype='object')

In [10]:
df.head()

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,9.500,2,0.035206,6,171.3448,1999,1,0,1,2386.2272
1,18.000,1,0.047473,9,170.5422,2002,3,1,1,3103.9596
2,17.600,2,0.076122,10,111.7202,1997,2,0,1,1125.2020
3,8.325,1,0.029845,6,41.6138,2002,3,1,1,284.2966
4,12.850,1,0.137228,13,155.5630,1997,2,0,1,4224.5010

In [11]:
df.shape

(6818, 10)

In [12]:
overview = df.describe()

In [13]:
overview

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
count,6818.000000,6818.000000,6818.000000,6818.000000,6818.000000,6818.000000,6818.000000,6818.000000,6818.000000,6818.000000
mean,12.881405,1.369903,0.066097,7.269727,141.905134,1997.856850,1.738046,1.121297,1.207539,2202.365231
std,4.225953,0.647164,0.051429,4.202952,62.547789,8.395692,0.989615,0.810548,0.799858,1720.024464
min,4.555000,0.000000,0.000000,0.000000,31.290000,1985.000000,0.000000,0.000000,0.000000,33.290000
25%,9.395000,1.000000,0.026939,4.000000,94.175200,1987.000000,1.000000,0.000000,1.000000,851.225300
50%,12.857645,1.000000,0.054129,6.000000,144.262800,1999.000000,2.000000,1.000000,1.000000,1808.312800
75%,16.100000,2.000000,0.094791,10.000000,186.855600,2004.000000,3.000000,2.000000,1.000000,3123.933600
max,21.350000,4.000000,0.328391,15.000000,266.888400,2009.000000,3.000000,2.000000,3.000000,13086.964800

In [14]:
overview.loc[["min","max"]].to_json("schema_in.json")

In [15]:
class NotInRange(Exception):
    def __init__(self, message="Value not in range"):
        self.message = message
        super().__init__(self.message)

In [16]:
raise NotInRange

NotInRange: Value not in range